In [66]:
import pandas as pd
import json
from glob import glob
import os

In [14]:
tweets_df = pd.read_json('../Tesis de maestria/Data/archiveteam-twitter-stream-2021-08/2021/08/01/00/29.json.bz2' , lines=True)
tweets_df

,created_at,id,id_str,text,source,truncated,in_reply_to_status_id,in_reply_to_status_id_str,in_reply_to_user_id,in_reply_to_user_id_str,...,retweeted_status,display_text_range,extended_entities,possibly_sensitive,extended_tweet,quoted_status_id,quoted_status_id_str,quoted_status,quoted_status_permalink,delete
0,2021-08-01 06:29:00+00:00,1.421720e+18,1.421720e+18,ì•„ì•„â€¦. ë‹¹ì‹ ì´ 'ê·¹í•œì˜ ë•…ì—ì„œë„ ì•Œëª¸ìœ¼ë¡œ~' ì–´ì©Œê³ í•˜ë©° ë¹„ìœ í•œ ì˜ë¯¸ë¥¼ ì˜ ì•Œê² ì–´...,"<a href=""http://twittbot.net/"" rel=""nofollow"">...",0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2021-08-01 06:29:00+00:00,1.421720e+18,1.421720e+18,ì˜¤... ë‚˜ ë€ë”ë…¸í‹°ì¹´ë¡œ ì¶”ì²œí•´ì£¼ëŠ” ê³³ ê°€ë³´ê³ ì‹¶ìŒ ì´ê±° ì•½ê°„ ì“¸ë°ì—†ëŠ” í˜¸ê¸°ì‹¬,"<a href=""http://twitter.com/download/iphone"" r...",0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2021-08-01 06:29:00+00:00,1.421720e+18,1.421720e+18,"RT @Kvin_1: ë‚´ì¼ì´ë©´ 8ì›”, ê¸°ì˜ê³ ì•„ë¦„ë‹¤ìš´ ì¼ë“¤ë§Œ ê¸°ì–µë˜ëŠ” ìƒˆ ë‹¬ì´ ë˜ê¸°...","<a href=""http://twitter.com/download/android"" ...",0.0,NaN,NaN,NaN,NaN,...,{'created_at': 'Sat Jul 31 14:02:44 +0000 2021...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2021-08-01 06:29:00+00:00,1.421720e+18,1.421720e+18,@alice__cream2 ãƒ•ã‚©ãƒ­ãƒã‚ã‚ŠãŒã¨ã†ã”ã–ã„ã¾ã™ï¼ã“ã¡ã‚‰ã‚‚å‘¼ã³ã‚¿ãƒ¡æ­“è¿ã§ã™ã®ã§ã€ãŠ...,"<a href=""http://twitter.com/download/android"" ...",0.0,1.421715e+18,1.421715e+18,1.066665e+18,1.066665e+18,...,NaN,"[15, 87]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2021-08-01 06:29:00+00:00,1.421720e+18,1.421720e+18,@Y_Sumeragi_Kun é•ã†é•ã†ğŸ’¦,"<a href=""http://twitter.com/download/android"" ...",0.0,1.421696e+18,1.421696e+18,1.414187e+18,1.414187e+18,...,NaN,"[16, 21]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2786,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"{'status': {'id': 1421719814314340352, 'id_str..."
2787,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"{'status': {'id': 1392249745201156101, 'id_str..."
2788,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"{'status': {'id': 1400528214964031489, 'id_str..."
2789,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"{'status': {'id': 1421677854459416581, 'id_str..."
2790,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"{'status': {'id': 1415760954009165824, 'id_str..."

In [50]:
place = pd.json_normalize(tweets_df['place'])

In [55]:
place.columns

Index(['id', 'url', 'place_type', 'name', 'full_name', 'country_code',
       'country', 'bounding_box.type', 'bounding_box.coordinates'],
      dtype='object')

In [ ]:
tweets_df

In [52]:
tweets_df[place.columns] = place

In [60]:
tweets_df =tweets_df[tweets_df['country'].notnull()]

In [97]:
file_names = glob(os.path.join('../Tesis de maestria/Data/archiveteam-twitter-stream-2021-08/2021/08/01/12/' "*.bz2"))

In [ ]:
df_hold_list = []
for file in file_names:
    df_hold_list.append(pd.read_json(file, lines=True))

In [74]:
df = pd.concat(df_hold_list, axis=0)

In [76]:
place = pd.json_normalize(tweets_df['place'])

In [77]:
df[place.columns] = place

In [78]:
df =df[df['country'].notnull()]

In [96]:
df['country'].value_counts()

æ—¥æœ¬               93
United States    62
Tanzania         31
Nigeria          31
South Africa     31
TÃ¼rkiye          31
Pakistan         31
Brasil           31
Name: country, dtype: int64

In [94]:
subfolders = [ f.path for f in os.scandir('../Tesis de maestria/Data/archiveteam-twitter-stream-2021-08/2021/08/01/') if f.is_dir() ]

In [95]:
df_hold_list = []
for i in subfolders:

['../Tesis de maestria/Data/archiveteam-twitter-stream-2021-08/2021/08/01/06',
 '../Tesis de maestria/Data/archiveteam-twitter-stream-2021-08/2021/08/01/23',
 '../Tesis de maestria/Data/archiveteam-twitter-stream-2021-08/2021/08/01/11',
 '../Tesis de maestria/Data/archiveteam-twitter-stream-2021-08/2021/08/01/12',
 '../Tesis de maestria/Data/archiveteam-twitter-stream-2021-08/2021/08/01/08',
 '../Tesis de maestria/Data/archiveteam-twitter-stream-2021-08/2021/08/01/16',
 '../Tesis de maestria/Data/archiveteam-twitter-stream-2021-08/2021/08/01/13',
 '../Tesis de maestria/Data/archiveteam-twitter-stream-2021-08/2021/08/01/17',
 '../Tesis de maestria/Data/archiveteam-twitter-stream-2021-08/2021/08/01/10',
 '../Tesis de maestria/Data/archiveteam-twitter-stream-2021-08/2021/08/01/04',
 '../Tesis de maestria/Data/archiveteam-twitter-stream-2021-08/2021/08/01/19',
 '../Tesis de maestria/Data/archiveteam-twitter-stream-2021-08/2021/08/01/15',
 '../Tesis de maestria/Data/archiveteam-twitter-stream-2021-08/2021/08/01/14',
 '../Tesis de maestria/Data/archiveteam-twitter-stream-2021-08/2021/08/01/07',
 '../Tesis de maestria/Data/archiveteam-twitter-stream-2021-08/2021/08/01/09',
 '../Tesis de maestria/Data/archiveteam-twitter-stream-2021-08/2021/08/01/20',
 '../Tesis de maestria/Data/archiveteam-twitter-stream-2021-08/2021/08/01/01',
 '../Tesis de maestria/Data/archiveteam-twitter-stream-2021-08/2021/08/01/02',
 '../Tesis de maestria/Data/archiveteam-twitter-stream-2021-08/2021/08/01/21',
 '../Tesis de maestria/Data/archiveteam-twitter-stream-2021-08/2021/08/01/03',
 '../Tesis de maestria/Data/archiveteam-twitter-stream-2021-08/2021/08/01/05',
 '../Tesis de maestria/Data/archiveteam-twitter-stream-2021-08/2021/08/01/22',
 '../Tesis de maestria/Data/archiveteam-twitter-stream-2021-08/2021/08/01/18',
 '../Tesis de maestria/Data/archiveteam-twitter-stream-2021-08/2021/08/01/00']